{{ define "main" }}
{{ if or (eq .Title "Posts") (eq .Title "Mentoria") }}
  <div class="linha-indigo"></div>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
  <div class="artigos-list">
    {{ range .Pages.ByDate.Reverse }}
      <div class="artigo-item">
        <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
        <p class="data">{{ .Date.Format "2 de January de 2006" }}</p>
      </div>
    {{ end }}
  </div>
{{ else }}
  <div class="linha-indigo"></div>
  <h1>{{ .Title }}</h1>
  {{ .Content }}
{{ end }}
{{ end }}
