{{ $tamanho := .Get "tamanho" | default "grande" }}
{{ $pos := .Get "pos" | default "centro" }}

{{ $largura := "100%" }}
{{ if eq $tamanho "pequena" }}{{ $largura = "35%" }}{{ end }}
{{ if eq $tamanho "media" }}{{ $largura = "55%" }}{{ end }}

{{ $float := "none" }}
{{ $margin := "2rem auto" }}
{{ if eq $pos "esquerda" }}{{ $float = "left" }}{{ $margin = "0.5rem 2rem 1rem 0" }}{{ end }}
{{ if eq $pos "direita" }}{{ $float = "right" }}{{ $margin = "0.5rem 0 1rem 2rem" }}{{ end }}

<figure class="figura" style="max-width: {{ $largura }}; float: {{ $float }}; margin: {{ $margin }};">
  <img src="{{ .Get "src" }}" alt="{{ .Get "alt" }}">
  <figcaption>{{ .Get "caption" }}</figcaption>
</figure>
