{{ define "main" }}
<article>
  <div class="linha-indigo"></div>
  <h1>{{ .Title }}</h1>
  <div class="post-meta" style="margin-bottom: 2rem;">
    {{ .Date | time.Format ":date_long" }}
    {{ if .Params.categories }}
      · {{ range .Params.categories }}{{ . }}{{ end }}
    {{ end }}
  </div>

  <div class="post-subscribe-link" style="margin-bottom: 2rem;">
    <a href="/az/">Leia os outros textos e inscreva-se para receber por email, gratuitamente</a>
  </div>

  <div class="post-content">
    {{ .Content }}
  </div>

  {{ if .Params.tags }}
  <div class="separador"></div>
  <div class="post-tags" style="margin-top: 2rem;">
    {{ range .Params.tags }}
      <span class="tag">{{ . }}</span>
    {{ end }}
  </div>
  {{ end }}

  <div class="voltar-link">
    <a href="/az">← Voltar aos artigos</a>
  </div>
</article>
{{ end }}
